/.idea/.name
/.idea/copyright/profiles_settings.xml
/.idea/deployment.xml
/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/rpp.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea
